menu {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0 0 3em 0;
    z-index: 7;
    .mdl-layout__drawer,
    .mdl-layout__obfuscator {
        position: fixed;
    }
    .mdl-layout__container {
        // z-index: 8 !important;
    }
}